.navbar-default {
}
.navbar-default .navbar-brand {
  color: #ffffff;
}
.navbar-default .navbar-brand:hover,
.navbar-default .navbar-brand:focus {
  color: #560000;
  background-color: #b7153d;
  display: block;

}
.navbar-default .navbar-text {
  color: #ffffff;
}
.navbar-default .navbar-nav > li > a {
  
}
.navbar-default .navbar-nav > li > a:hover,
.navbar-default .navbar-nav > li > a:focus {
  color: #560000;
}
.navbar-default .navbar-nav > li > .dropdown-menu {
  background-color: #e82525;
}
.navbar-default .navbar-nav > li > .dropdown-menu > li > a {
  color: #ffffff;
}
.navbar-default .navbar-nav > li > .dropdown-menu > li > a:hover,
.navbar-default .navbar-nav > li > .dropdown-menu > li > a:focus {
  color: #560000;
  background-color: #ee5f5f;
}
.navbar-default .navbar-nav > li > .dropdown-menu > li.divider {
  background-color: #ee5f5f;
}
.navbar-default .navbar-nav .open .dropdown-menu > .active > a,
.navbar-default .navbar-nav .open .dropdown-menu > .active > a:hover,
.navbar-default .navbar-nav .open .dropdown-menu > .active > a:focus {
  color: #560000;
  background-color: #ee5f5f;
}
.navbar-default .navbar-nav > .active > a,
.navbar-default .navbar-nav > .active > a:hover,
.navbar-default .navbar-nav > .active > a:focus {
  color: #560000;
  background-color: #ee5f5f;
}
.navbar-default .navbar-nav > .open > a,
.navbar-default .navbar-nav > .open > a:hover,
.navbar-default .navbar-nav > .open > a:focus {
  color: #560000;
  background-color: #ee5f5f;
}
.navbar-default .navbar-toggle {
  border-color: #000;
}
.navbar-default .navbar-toggle:hover,
.navbar-default .navbar-toggle:focus {
  background-color: #fff;
}
.navbar-default .navbar-toggle .icon-bar {
  background-color: #560000;
}
.navbar-default .navbar-collapse,
.navbar-default .navbar-form {
  border-color: #a9a9a9;
}
.navbar-default .navbar-link {
  color: #ffffff;
}
.navbar-default .navbar-link:hover {
  color: #560000;
}

@media (max-width: 767px) {
  .navbar-default .navbar-nav .open .dropdown-menu > li > a {
    color: #000;
  }
  .navbar-default .navbar-nav .open .dropdown-menu > li > a:hover,
  .navbar-default .navbar-nav .open .dropdown-menu > li > a:focus {
    color: #560000;
  }
  .navbar-default .navbar-nav .open .dropdown-menu > .active > a,
  .navbar-default .navbar-nav .open .dropdown-menu > .active > a:hover,
  .navbar-default .navbar-nav .open .dropdown-menu > .active > a:focus {
    color: #560000;
    background-color: #ee5f5f;
  }
}

div.info{
	background:  #5B6671;
	margin: 0;
	padding: 0;
	padding: 14px 16px;
	text-align: right;


}

ul.nabva {
	list-style-type: none;
	margin: 0;
	padding: 0;
	overflow: hidden;
	background-color: white;
	line-height: 20pt; 
	text-decoration: none;
}



li a {
	display: block;
	color: white;
	text-align: center;
	padding: 14px 16px;
	text-decoration: none;
}

a.texto-nabvar{
	color: silver;
	font-size: 20px;


}

li a:hover {
	background: #AE3139;


}




.centrado{
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	font-size: 30px;
	color: white;
}

.imagen-fondo{
	background: url(../css/img/bg1.jpg);
	height: 310px;
	width: auto;
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
	position: relative;

}

p.texto1{
	font-family: Montserrat;
	font-style: normal;
	font-weight: normal;
	font-size: 36px;
	line-height: 44px;
	text-align: center;

}


#img1{

	width: 246px;
	height: 326px;
	left: 813px;
	top: 1400px;
	padding-top: 17px;

	
}

#img1:hover {

	width: 246px;
	height: 326px;
	left: 813px;
	top: 1400px;
	padding-top: 17px;
	opacity: 1;
	
}

.mostrar-info{
	background-color: red;
	width: 246px;
	color: white;
	text-align: center;
	padding-top: 1px;
	margin-top: -90px;
	position: absolute;
	display: none; 

}

.mostrar-info :hover{
	background-color: red;
	display: block;

}

.area-personal{
	text-align: center;
	font-size: 16px;
}

.area-personal:hover{
	color: #AE3139;

}






